<div class = "container-fluid">
  <div class = "row">
    <div class = "banner">

    </div>
    <div class = "col-lg-12" style = "height: 100vh">
      <br><br><br><br><br><br>
      <div class = "row">
        <div class ="col-md-3"></div>
        <div class = "col-md-4 text-left">
          <h1 id = "banner-text"> TAYLOR ZHANG </h1>
        </div>
      </div>



      <hr>

      <div class = "row">
        <div class = "col-md-3 text-left"></div>
        <div class = "col-md-3 text-left">
          <div id = "banner-nav">
            <a ng-click="$parent.scroll('#developer')" class = "pointer">
              <h3> ./Developer </h3>
            </a>
            <a ng-click = "$parent.scroll('#resume')" class = "pointer">
              <h3 style = "text-indent: 50px;"> ./Resume </h3>
            </a>
            <a ng-click = "$parent.scroll('#education')" class = "pointer">
              <h3 style = "text-indent: 50px;"> ./Education </h3>
            </a>
            <a ng-click = "$parent.scroll('#skills')" class = "pointer">
              <h3 style = "text-indent: 50px;"> ./Skills </h3>
            </a>
            <a ng-click = "$parent.scroll('#projects')" class = "pointer">
              <h3 style = "text-indent: 50px;"> ./Projects </h3>
            </a>
            <a ng-click = "$parent.scroll('#about')" class = "pointer">
              <h3> ./About me </h3>
            </a>
            <a ng-click = "$parent.scroll('#contact')" class = "pointer">
              <h3> ./Contact </h3>
            </a>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
