<div class = "container-fluid block">
  <div class = "row">
    <div class = "col-lg-12">
      <div class = "col-md-3"></div>
      <div class = "col-md-3"></div>
      <div class = "col-md-3 text-right">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 id = "block-header">./Developer</h2>

        <hr>

        <span id="block-text"> I'm a 23 year old developer with a year's worth of experience on mostly website technologies. I'm a proud graduate
          of Vanderbilt University with a degree in Computer Science. Other than node.js webstacks, I am also interested
          in big data technologies, as well as making bots for Discord.</span>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class = "col-md-3 text-right">
      </div>
    </div>
  </div>

</div>
