<div class = "container-fluid">
  <div class = "row">
    <div class = "col-lg-12 education-block text-center">
      <div class = "row">
        <br>
        <br>
        <br>
        <div class = "col-md-4">
        </div>
        <div class = "col-md-4">
          <h2 id ="education-header">./Education</h2>
          <hr id = "education-hr">
        </div>
      </div>
      <div class = "row">
        <div class = "col-md-3">
        </div>
        <div id = "education-text" class = "col-md-3 resume-category text-right">
          <h2>Vanderbilt University</h2>
          <h5>August 2012 - May 2016</h5>
        </div>
        <div id = "education-text" class = "col-md-3 resume-description education-block-border text-left">
          <h4> B.S. in Computer Science</h3>
          <span>My relevant coursework includes: Data Structures, Operating Systems, Algorithms,
          Software Engineering, Discrete Structures, Big Data, Linear Algebra, Programming Languages.</span>
        </div>
    </div>
    <br><br><br><br><br>
  </div>
</div>
