<div class = "container-fluid skills-block">
  <div class = "row">
    <div class = "col-lg-12 text-center">
      <div class = "row">
        <br>
        <br>
        <br>
        <div class = "col-md-4">
        </div>
        <div class = "col-md-4">
          <h2 id ="education-header">./Skills</h2>
          <hr id = "education-hr">
        </div>
      </div>
      <skills-list></skills-list>
              <!--
            <div class = "col-xs-6" >
              <div class="list-group pull-right" style = "width: 75%;">
                <a href="#" class = "list-group-item active"> node.js </a>
                <a href="#" class = "list-group-item"> ECMAscript </a>
                <a href="#" class = "list-group-item"> Java </a>
                <a href="#" class = "list-group-item"> Python </a>
                <a href="#" class = "list-group-item"> React </a>
                <a href="#" class = "list-group-item"> AngularJS </a>
                <a href="#" class = "list-group-item"> Racket </a>
              </div>

            </div>
            <div class = "col-xs-6 pull-left">
              <div class="list-group pull-left" style = "width:75%;">
                <a href="#" class = "list-group-item"> ML </a>
                <a href="#" class = "list-group-item"> MapReduce </a>
                <a href="#" class = "list-group-item"> C++ </a>
                <a href="#" class = "list-group-item"> SQL </a>
                <a href="#" class = "list-group-item"> MongoDB </a>
                <a href="#" class = "list-group-item"> MQTT </a>
                <a href="#" class = "list-group-item"> ASP.net </a>
              </div>
            </div>

          </div>
        -->
      </div>
    </div>
    <br><br><br><br><br>
  </div>
</div>
