
<div class = "container-fluid resume-block">
  <div class = "flex row">
    <div class = "col-lg-12 text-center">
      <div class = "row">
        <br>
        <br>
        <br>
        <div class = "col-md-4">
        </div>
        <div class = "col-md-4">
          <h2 id ="block-header">./Resume</h2>
          <hr>
        </div>
      </div>
      <div class = "row">
        <div class = "col-md-3">
        </div>
        <div class = "col-md-3 resume-category text-right">
          <h2>Seequ</h2>
          <h5>May 2016-March 2017</h5>
        </div>
        <div class = "col-md-3 resume-description text-left">
          <h4> Backend/React Developer</h3>
          <span> Seequ was a mobile application that allowed for group messaging, group calls, and
          group video calls. Technologies used in the backend were MongoDB, Express.js, Node.js, MQTT, and Redis.
          I created a test suite testing all API endpoints as well as MQTT code. I also
          managed development of a web version of the mobile app using React.js.</span>
        </div>
      </div>
      <br>
      <div class = "row">
        <div class = "col-md-3">
        </div>
        <div class = "col-md-3 resume-category text-right">
          <h2>Seequ</h2>
          <h5>May 2015-August 2015</h5>
        </div>
        <div class = "col-md-3 resume-description text-left">
          <h4>Android Developer</h3>
          <span> I also worked at Seequ the summer before graduating. I was responsible for implementing the app's configuration and settings
          screen, as well as catching and displaying messages properly in the UI. We also streamlined API calls through Square's Retrofit library.</span>
        </div>
      </div>
      <br>
      <div class = "row" style ="">
        <div class = "col-md-3">
        </div>
        <div class = "col-md-3 resume-category text-right">
          <h2>Patriot Software</h2>
          <h5>May 2014-August 2014</h5>
        </div>
        <div class = "clearfix col-md-3 resume-description text-left">
          <h4>Software Intern</h3>
          <span style = "padding-bottom: 24px"> Patriot Software produces payroll software. While I worked there, the company used C#, the .NET Framework, a SQL
          database, and a whole lot of jQuery. I usually fixed small bugs through our internal project tracker and wrote tests using
          Selenium. As I grew more familiar with MVC and the .NET framework, I was given bigger projects.</span>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
